<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InventarioTI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body style="background-color:#E7E9EB">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-nova border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="https://rh.novaprint.mx/Aplicaciones/ti/inicio"><img src="~/resources/logo.png" style="background-color:transparent; vertical-align:central; text-align:center;" width="150" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="color:white" class="nav-link text-white" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white" class="nav-link text-white" asp-area="" asp-controller="InvTabEquipoes" asp-action="Index">Equipos</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Catalogos">Catálogos</a>
                        </li>
                        <li class="nav-item">
                            <a style="color:white" class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Reportes">Reportes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted bg-nova">
        <div class="container">
            <a style="color:white">&copy; 2022 - InventarioTI -</a> <a style="color:blue" href="https://rh.novaprint.mx/Aplicaciones/ti/inicio">Portal TI</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
