@{
    Layout = null;
}

<link href="~/lib/login/styles_login.css" rel="stylesheet" />

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Novaprint</title>
    <link rel="stylesheet" href="vaidroll.css">
</head>
<body>
    <div class="cajafuera" align="center">

        <div class="formulariocaja">
            <form method="post" action="Login" name="vaidrollteam">
                <div class="formtitulo" align="center">Inicio de Sesión</div>
                <img src="~/resources/novalogo.png" />
                <input type="text" name="correo" placeholder="&#128273; Ingresar usuario" class="cajaentradatexto">
                <input type="password" name="password" placeholder="&#128274; Ingresar password" class="cajaentradatexto">
                <input type="submit" value="Iniciar sesión" class="botonenviar">
                <hr>
            </form>
        </div>
    </div>
</body>

</html>