@using InventarioTI.Context
@model IEnumerable<InventarioTI.Models.InvCatTipoEquipo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    InventarioContext context = new InventarioContext();
}

<h1>Tipos de Equipos</h1>

<p>
    <a asp-controller="Home" asp-action="Catalogos">Regresar a los catálogos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
            </tr>
        }
    </tbody>
</table>
