@model InvHisPlantillaInstalacion

<script>
    $('#paqueteriaField').hide();
    $('#antivirusField').hide();
</script>
<div class="modal fade" id="addInstalacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addMantenimientoLabel">Registra Instalacion</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>

                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="InvTabEquipoes" asp-action="Instalacion">
                    <b><i class="emphasized">Periodo de Acción</i></b>
                    <br />
                    <label>Fecha de Inicio</label>
                    <input name="initialDate" class="form-control" type="date" />
                    <label>Fecha de Fin</label>
                    <input name="finalDate" class="form-control" type="date" />
                    <hr />
                    <b><i class="emphasized">Acciones</i></b>
                    <div class="form-group">
                        <label asp-for="AntivirusInstalado" class="control-label"></label>
                        <input asp-for="AntivirusInstalado" type="checkbox" id="antivirusCheck" onchange="HideAndShow(antivirusCheck,antivirusField)" />
                        <input asp-for="Antivirus" id="antivirusField" class="form-control" placeholder="Avast,Avira,Norton,Mcafee..." />
                        <span asp-validation-for="Antivirus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PaqueteriaOfficeInstalado" class="control-label"></label>
                        <input asp-for="PaqueteriaOfficeInstalado" onchange="HideAndShow(paqueteriaCheck,paqueteriaField)" type="checkbox" id="paqueteriaCheck" />
                        <input asp-for="PaqueteriaOffice" id="paqueteriaField" class="form-control" placeholder="Versión de Office..." />
                        <span asp-validation-for="PaqueteriaOffice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OtrasAplicaciones" class="control-label"></label>
                        <input asp-for="OtrasAplicaciones" />
                        <span asp-validation-for="OtrasAplicaciones" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UsoPortales" class="control-label"></label>
                        <input asp-for="UsoPortales" />
                        <span asp-validation-for="UsoPortales" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SeEliminaronAplicaciones" class="control-label"></label>
                        <input asp-for="SeEliminaronAplicaciones" />
                        <span asp-validation-for="SeEliminaronAplicaciones" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HddDisponible" class="control-label"></label>
                        <input asp-for="HddDisponible" class="form-control" type="number" />
                        <span asp-validation-for="HddDisponible" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Observaciones" class="control-label"></label>
                        <input asp-for="Observaciones" class="form-control" />
                        <span asp-validation-for="Observaciones" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-save="modal">Guardar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function HideAndShow(check, field) {
        $(check).click(function (e) {
            if ($(check).prop('checked')) {
                $(field).show();
            } else {
                $(field).hide();
            }
        });
    }
</script>