@model InvHisPlantillaMantenimiento

<div class="modal fade" id="addMantenimiento">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addMantenimientoLabel">Mantenimiento</h4>
                <button></button>
            </div>
        </div>
    </div>
</div>