@using InventarioTI.Context
@using InventarioTI.Models.EXT_WEB
@using InventarioTI.Tools
@using Newtonsoft.Json
@model InventarioTI.Models.InvTabEquipo

@{
    ViewData["Title"] = "Crear Nuevo Equipo";
    InventarioContext context = new InventarioContext();
    CONEXION_EXT_WEB conn = new CONEXION_EXT_WEB();
}

<script src="~/lib/suffixes/javascript.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<h1>Crear Nuevo Equipo</h1>

<div>
    <a asp-action="Index">Regresar a la tabla</a>
</div>
<hr />

<div class="col">
    <div class="col-md-6">
        <h3>Equipo</h3>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden value="2" asp-for="IdEstatus" />
            <div class="form-group">
                <label asp-for="IdTipoEquipo" class="control-label"></label>
                @{
                    List<InvCatTipoEquipo> tipos = new List<InvCatTipoEquipo>();
                    tipos = context.InvCatTipoEquipos.OrderBy(t => t.Tipo).ToList();
                    List<SelectListItem> tiposItems = tipos.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.Tipo,
                    Value = a.Id.ToString(),
                    Selected = false
                };
                    });
                }
                <select asp-for="IdTipoEquipo" asp-items="tiposItems" class="custom-select">
                </select>
                <span asp-validation-for="IdTipoEquipo" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label" asp-for="IdSO"></label>
                @{
                    List<InvCatSo> sos = new List<InvCatSo>();
                    sos = context.InvCatSos.OrderBy(so => so.SistemaOperativo).ToList();

                    List<SelectListItem> SoItems = sos.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.SistemaOperativo,
                    Value = a.Id.ToString(),
                    Selected = false
                };
                    });
                }
                <select asp-for="IdSO" class="custom-select" asp-items="SoItems">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" autocomplete="off" onpaste="return false;" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDSitio" class="control-label"></label>
                @{
                    List<RHCF10_Plantas> catPlants = new List<RHCF10_Plantas>();

                    string json = await conn.GetQueryResult("SELECT * FROM RHCF10");

                    try
                    {
                        catPlants = JsonConvert.DeserializeObject<List<RHCF10_Plantas>>(json);
                    }
                    catch (Exception ex)
                    {
                        Console.WriteLine(ex.Message);
                    }

                    List<SelectListItem> plantasItems = catPlants.ConvertAll(a =>
                    {
                        return new SelectListItem()
                {
                    Text = a.Nombre,
                    Value = a.IDSitio.ToString(),
                    Selected = false
                };
                    });

                }
                <select asp-for="IDSitio" class="custom-select" asp-items="plantasItems">
                </select>
                <span asp-validation-for="IDSitio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" autocomplete="off" onpaste="return false;" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoSerie" class="control-label"></label>
                <input asp-for="NoSerie" autocomplete="off" onpaste="return false;" class="form-control" />
                <span asp-validation-for="NoSerie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DireccionMac" class="control-label"></label>
                <input asp-for="DireccionMac" autocomplete="off" placeholder="XX:XX:XX:XX:XX:XX" style='text-transform:uppercase' maxlength="17" onpaste="return false;" class="form-control" />
                <span asp-validation-for="DireccionMac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatosAdicionales" class="control-label"></label>
                <input asp-for="DatosAdicionales" autocomplete="off" onpaste="return false;" class="form-control" />
                <span asp-validation-for="DatosAdicionales" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Estatus" class="control-label"></label>
            @{
            List<InvCatEstatusEquipo> estatus = new List<InvCatEstatusEquipo>();
            estatus = context.InvCatEstatusEquipos.ToList();

            List<SelectListItem> estatusItems = estatus.ConvertAll(a =>
            {
            return new SelectListItem()
            {
            Text = a.Estatus,
            Value = a.Estatus,
            Selected = false
            };
            });
            }
            <select asp-for="Estatus" class="custom-select" asp-items="estatusItems"></select>
            <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="FechaCompra" class="control-label"></label>
                <input asp-for="FechaCompra" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicioGarantia" class="control-label"></label>
                <input asp-for="FechaInicioGarantia" class="form-control" type="date" />
                <span asp-validation-for="FechaInicioGarantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFinGarantia" class="control-label"></label>
                <input asp-for="FechaFinGarantia" class="form-control" type="date" />
                <span asp-validation-for="FechaFinGarantia" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
            <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
            </label>
            </div>*@

            <h3>Caracteristicas del Equipo</h3>
            <div class="form-group">
                <label asp-for="Procesador" class="control-label"></label>
                <input asp-for="Procesador" autocomplete="off" onpaste="return false;" class="form-control" />
                <span asp-validation-for="Procesador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hdd" class="control-label"></label>
                <input asp-for="Hdd" autocomplete="off" onpaste="return false;" type="number" class="form-control" />
                @*<div id="my-input-container" class="form-group">
                <input asp-for="Hdd" type="number" id="my-input" class="form-group">
                <span id="my-suffix">GB.</span>
                </div>*@
                <span asp-validation-for="Hdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" autocomplete="off" onpaste="return false;" type="number" class="form-control" />
                @*<div id="my-input-container">
                <input asp-for="Ram" type="number" id="my-input" class="form-group">
                <span id="my-suffix">GB.</span>
                </div>*@
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
    <script>
        $(document).ready(Principal);
        function Principal() {
            $(document).on('keyup', '[id=input_mac]', function (e) {
                if ($(this).val().length == 2) {
                    $(this).val($(this).val() + ":");
                }
                if ($(this).val().length == 5) {
                    $(this).val($(this).val() + ":");
                }
                if ($(this).val().length == 8) {
                    $(this).val($(this).val() + ":");
                }
                if ($(this).val().length == 11) {
                    $(this).val($(this).val() + ":");
                }
                if ($(this).val().length == 14) {
                    $(this).val($(this).val() + ":");
                }
            });
        }
    </script>
