@model InventarioTI.Models.InvCatEstatusEquipo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Estatus de Equipos</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @{
                if (Model.Id != 4 && Model.Id != 2 && Model.Id != 6)
                {
                    <div class="form-group">
                        <label asp-for="Estatus" class="control-label"></label>
                        <input autocomplete="off" onpaste="return false;" asp-for="Estatus" class="form-control" />
                        <span asp-validation-for="Estatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input autocomplete="off" onpaste="return false;" asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                }
                else 
                {
                    <div class="form-group">
                        <label asp-for="Estatus" class="control-label"></label>
                        <input autocomplete="off" onpaste="return false;" asp-for="Estatus" class="form-control" readonly />
                        <span asp-validation-for="Estatus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input autocomplete="off" onpaste="return false;" asp-for="Descripcion" class="form-control" readonly />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                }
            }
            <div class="form-group">
                @{
                    if (Model.Id != 4 && Model.Id != 2 && Model.Id != 6)
                    {
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                    }
                    else
                    { 
                        <a>Buen intento...!!! No puedes editar este registro</a>
                    }
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

