@{
    ViewData["Title"] = "Index";
}

<h1>QR</h1>

@if (ViewBag.QRCodeImage != null)
{

    <div class="alert alert-info">El QR se ha generado correctamente</div>
    <div id="qr">
        <img src="@ViewBag.QRCodeImage" alt="QR" style="height:300px; width:300px;" />
        <label>@ViewBag.Name</label>
    </div>
    <img src="~/resources/print.png" id="Imprimir" runat="server" onclick="Imprime('qr', 'Imprimir');" Width="36px" Visible="true" ImageAlign="Right" />
}
else
{
    <div class="alert alert-danger">El QR no se pudo generar</div>
}


<script>
    function Imprime(nombre, boton) {
        var ficha = document.getElementById(nombre);
        var ventimp = window.open(' ', 'popimpr');
        ventimp.document.write(ficha.innerHTML);
        ventimp.document.close();
        ventimp.print();
        ventimp.close();
    }
</script>
