@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <div>
        <div class="d-flex justify-content-center">
            <div class="bg-info" style="padding:10px">
                <form method="post" asp-action="Index">

                    <div class="form-group">
                        <label>Correo:</label>
                        <input class="form-control" type="email" name="correo" />
                    </div>
                    <div class="form-group">
                        <label>Contraseña:</label>
                        <input class="form-control" type="password" name="clave" />
                    </div>

                    <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>