@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Catálogos</h1>

<hr />
<a asp-controller="InvCatTipoEquipoes" asp-action="Index">Tipos de equipos</a>
<hr />
<a asp-controller="InvCatSoes" asp-action="Index">Sistemas operativos</a>
<hr />