@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/indexstyles.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Bienvenido al Sistema de Inventario TI</h1>
    </div>
</body>
</html>